/* Experience */
/* Frise */
.timeline {
    position: relative;
    margin-left: 40px;
}

/* Ligne verticale */
.timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: var(--blue-dark);
}

/* Expériences */
.timeline-item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 160px;
    align-items: center;
    padding-bottom: 50px;
}

/* Points */
.timeline-item::before {
    content: '';
    position: absolute;
    left: -5.5px;
    width: 12px;
    height: 12px;
    background-color: var(--blue-dark);
    border-radius: 50%;
}

.timeline-date {
    position: absolute;
    left: 0;
    /* Place la date à gauche */
    top: 0;
    width: 140px;
    text-align: center;
    padding-left: 10px;
    border-radius: 20px;
}

.timeline-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2C3E50;
    margin: 0 0 5px 0;
}

.timeline-company {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #34495E;
    margin: 0 0 10px 0;
    /* Espace entre l'entreprise et le contenu */
}

.timeline-description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #7F8C8D;
    line-height: 1.6;
}

.timeline-content {
    padding-left: 70px;
}

.timeline-content ul {
    list-style-type: none;
    padding-left: 1.5rem;
    margin: 0;
}

.timeline-content ul li::before {
    content: '➔';
    display: inline-block;
    width: 1rem;
    margin-left: -1.5rem;
    margin-right: 10px;
}

.timeline-content ul ul {
    padding-left: 1rem;
}

.timeline-content ul ul li::before {
    content: '–';
    margin-left: -1rem;
}

.skills-tags {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* Espace entre les cellules */
}

.skill-tag {
    background-color: var(--blue-pastel);
    /* Couleur de fond des cellules */
    color: var(--white);
    /* Couleur du texte */
    padding: 6px 12px;
    /* Padding pour rendre les cellules plus larges */
    border-radius: 12px;
    /* Bords arrondis pour un design moderne */
    font-size: 0.875rem;
    /* Taille du texte */
    font-weight: bold;
    /* Texte en gras */
    white-space: nowrap;
    /* Empêche les cellules de se casser sur plusieurs lignes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Légère ombre pour effet 3D */
    transition: background-color 0.3s ease;
    /* Animation de changement de couleur */
}

.skill-tag:hover {
    background-color: var(--violet-pastel);
    /* Changement de couleur au survol */
}

/* En savoir plus : CV */
.skills-button {
    /* text-align: center; */
    margin-top: 30px;
    padding-top: 50px;
    font-family: 'Nunito', sans-serif;
}

.btn-cv {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--violet-dark);
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    /* border-radius: 10px; */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-cv:hover {
    background-color: var(--violet-pastel);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    /* Expérience */
        .timeline-item {
            padding-left: 100px;
        }
    
        .timeline-date {
            width: auto;
        }
    
        .timeline-box {
            width: 90%;
        }
    
        .timeline-content {
            margin-left: 0;
            padding: 0 20px;
            box-shadow: none;
            background-color: transparent;
        }
    
        .timeline-title {
            font-size: 18px;
        }
    
        .timeline-company {
            font-size: 16px;
        }
    
        .timeline-description {
            font-size: 14px;
        }
}