/* Experience */
#experience {
    padding-left: 18px;
}

.timeline-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #2C3E50;
    margin-bottom: 80px;
}

.experience-tags {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 38px;
}

.experience-item {
    padding: 10px 30px;
    border-radius: 20px;
    width: 450px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s ease;
}

.experience-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.experience-date {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 500; */
    font-size: 15px;
    color: #34495E;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 7px 20px;
    background-color: var(--blue-dark);
    color: var(--white);
    border-radius: 50px;
}

.experience-content {
    display: flex;
    flex-grow: 1;
    height: 70%;
    /* Prend tout l'espace disponible */
    display: flex;
    flex-direction: column;
}

.experience-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2C3E50;
    margin: 0;
}

.experience-company {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #34495E;
    margin-top: 5px;
    margin-bottom: 10px;
}

.experience-description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #7F8C8D;
    line-height: 1.6;
    flex-grow: 1;
    /* Utilise tout l'espace disponible au-dessus des étiquettes */
}

.skills-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    /* Pousse les étiquettes vers le bas */
}

.skill-tag {
    background-color: var(--blue-pastel);
    color: var(--white);
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 0.875rem;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.skill-tag:hover {
    background-color: var(--violet-pastel);
}

.skills-button {
    margin-top: 30px;
    padding-top: 50px;
    font-family: 'Nunito', sans-serif;
}

.btn-cv {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--violet-dark);
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 20px;
}

.btn-cv:hover {
    background-color: var(--violet-pastel);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .experience-item {
        width: 90%;
    }
}