/* Footer */
.footer {
    background-color: var(--blue-dark);
    color: var(--white);
    text-align: center;
    padding: 40px 0;
    position: relative;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: var(--white);
    margin: 0 20px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--violet-pastel);
}

.footer-text {
    font-size: 12px;
    margin: 10px 0;
}

.footer-separator {
    margin: 20px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
    }

    .footer-links a {
        margin-bottom: 10px;
    }
}